@if (!isLoginPage()) {
<ems-sidebar
  [pageTitle]="pageTitle()"
  [user]="vm.user()"
  (logout)="vm.logout()"
>
  <router-outlet></router-outlet>
</ems-sidebar>
} @else {
<div class="main-content d-flex flex-column w-100" style="margin-left: 0">
  <main class="flex-grow-1" style="margin-top: 0">
    <router-outlet></router-outlet>
  </main>
</div>
} @if (notificationService.notification(); as currentNotification) {
<lib-notification
  [type]="currentNotification.type"
  [title]="currentNotification.title || ''"
  [message]="currentNotification.message"
  [duration]="currentNotification.duration ?? 4000"
  (close)="notificationService.clearNotification()"
></lib-notification>
}
